@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.prthome span {
  color: green;
}
html {
  scroll-behavior: smooth;
}

a.prthome {
  font-size: 30px;
  font-weight: 900;
  font-family: "Pacifico";
  margin-right: 1250px;

  transition: all 0.2s ease;
}
.menu a {
  list-style-type: none;
  text-align: right;
  margin-left: 1.5rem;
  text-decoration: none;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background-image: url(/images/space.jpg);
  height: 100vh;
  min-height: 500px;
  animation: backgroundAnimation 30s infinite alternate;
}

a.homeright {
  padding-right: 10px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

.menu a:hover {
  color: crimson;
}

.max-width {
  width: 1900px;
  max-width: 1900px;
}

.text-1 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  margin-top: 20rem;
  margin-bottom: 0.1rem;
  margin-left: 10rem;
  font-size: 2.5rem;
  width: 400px;
  max-width: 80%;
}

.text-2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  margin-left: 10rem;
  width: 400px;
  font-size: 40px;
  max-width: 80%;
}

.web {
  display: inline-block;
  background: crimson;
  color: white;
  padding: 8px 50px;
  font-size: 25px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  margin-left: 30px;
}

.text-3 {
  width: 900px;
  margin-left: 100px;
}

/* home page end */

.about-content {
  display: flex;
  height: 600px;
  margin-left: 6rem;
}

.column.right {
  font-size: 30px;
  line-height: 1.7;
  font-family: "Ubuntu", sans-serif;
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 10rem;
}

.aboutme {
  height: 700px;
  max-width: 1970px;
}

.whoami {
  text-align: center;
  width: 700px;
  margin-bottom: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 800;
}

img.me {
  height: 500px;
  width: 450px;
  margin-left: 4rem;
  border-radius: 7rem;
  border: 8px solid black;
}

/* about me section end */
/* Skills section start */

.skills {
  height: 600px;
  background-color: black;
}

.skills-content {
  color: white;
  display: flex;
  margin-top: 6rem;
  flex-direction: row;
  font-size: 1.5rem;
  line-height: 1.7;
}

.column.left2 {
  width: 1000px;
  border: 2px solid red;
  margin-left: 2rem;
}

.column.right2 {
  height: 400px;
  max-height: 500px;
  max-width: 350px;
  margin-left: 9rem;
}

h3 {
  text-align: center;
}

.icons {
  margin-right: 1.3rem;
}

/* project section start */

.projects {
  height: 600px;
  max-width: 1970px;
  background-color: white;
}

.personalprojects {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.text-5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.paper {
  display: block;
  margin: 0 auto; /* This will center the image horizontally */
}

.card {
  align-items: center;
  width: 300px;
  border: 8px solid black;
  padding: 1rem;
  margin-right: 3rem;
}

.card img {
  margin-left: 1.3rem;
}
/* contact section */

.contact {
  height: 600px;
  max-width: 1970px;
  background-color: black;
}

form {
  margin-top: 6rem;
}

h3.reach {
  color: white;
  margin-top: 6rem;
  max-width: 1800px;
  padding: 1.5rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Media queries 
### Common Media Query breakpoints:
| Breakpoint | Description |
| -------- | ---------- |
| < 481px | Mobile devices |
| 481px — 768px | iPads, Tablets |
| 769px — 1024px | Small screens, laptops |
| 1025px — 1200px | Desktops, large screens |
| 1201px and greater | Extra large screens, TV |
*/

/* extra small */

@media screen and (max-width: 600px) {
  /* header section */

  .menu {
    font-size: 20px;
  }

  header {
    width: 600px;
    max-width: 600px;
    height: 1300px;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center children */
    align-items: flex-start; /* Align items to the left */
    text-align: left; /* Align text to the left */
    width: 300px;
  }

  .text-1 {
    margin-right: 5rem;
  }

  .text-3 {
    width: 18rem;
  }

  /* about me section */

  .about-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: -3rem;
  }
  .whoami {
    width: 400px;
    margin-left: 3rem;
  }
  .max-width {
    width: 500px;
  }
  img.me {
    width: 200px;
    height: 200px;
  }
  .column.left {
    width: 200px;
    margin-right: 5rem;
  }

  .about-content .experience {
    font-size: 0.9rem;
    width: 300px;
    max-width: 400px;
    line-height: 1.8;
  }

  /* skills-section */

  .skills {
    width: 600px;
  }

  .skills-content {
    color: white;
    display: flex;
    margin-top: 0.6rem;
    flex-direction: row;
    font-size: 0.8rem;
    line-height: 1.7;
    width: 100%; /* Adjusted width to fill the container */
    max-width: 500px;
  }

  .column.left2 {
    width: 100%; /* Adjusted width to fill the container */
    max-width: 400px; /* Set a maximum width for the left column */
    margin-left: 2rem;
  }

  .column.right2 {
    width: 100%; /* Adjusted width to fill the container */
    max-width: 400px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  /* Change the display property for icons */

  /* project section */
  .projects {
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 300px;
    margin-top: 1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .contact {
    margin-top: 50rem;
  }
}

@media screen and (max-width: 1500px) {
  .whoami {
    width: 400px;
    margin-left: 3rem;
  }
  .max-width {
    width: 500px;
  }
  img.me {
    width: 300px;
    height: 300px;
  }
  .column.left {
    width: 400px;
  }

  .experience {
    font-size: 2rem;
    width: 450px;
    line-height: 1.7;
  }

  /* skills-section */

  .skills {
    width: 1500px;
  }

  .skills-content {
    color: white;
    display: flex;
    margin-top: 0.6rem;
    flex-direction: row;
    font-size: 0.8rem;
    line-height: 1.7;
    width: 1000px;
  }

  .column.left2 {
    width: 600px;
    max-width: 400px; /* Set a maximum width for the left column */
    margin-left: 2rem;
  }

  .column.right2 {
    flex-direction: column; /* Set flex-direction to column */
    align-items: center; /* Center the items horizontally */
    max-width: 400px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  /* Change the display property for icons */

  /* project section */
  .projects {
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 300px;
    margin-top: 1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .contact {
    margin-top: 50rem;
  }
}

@media screen and (max-width: 1300px) {
}
